<div class="center">
    <div class="content">
        <div class="row vert-pad">
            <div class="left padded">
                <h1>Desarrollo con pasión aplicaciones y sitios web a la medida</h1>
                <p>Me encuentro constantemente aprendiendo nuevas
                    tecnologias y desarrollando aplicaciones por placer.
                    Esta web está construida desde cero con Python y Flask!</p>
            </div>
            <div class="right padded">
                <h1>Podemos platicar lo que desees!</h1>
                <p>Sólo enviame un correo <a class="second-color" href="#contacto">dando click aquí!</a></p>
            </div>
        </div>
    </div>
</div>