<div class="center padded white-bg">
    <div class="content padded">
        <div class="padded" id="proyectos">
            <h1>Aquí te muestro lo que he construido</h1>
        </div>
        <div class="row">
            <div class="card third">
                <h3>Mailer App</h3>
                <p>Una aplicación que envia correos utilizando API
                    de Sendgrid.</p>
                <a href="https://secure-coast-11515.herokuapp.com/" class="second-color" target="_blank">Link Aquí</a>
            </div>
            <div class="card third">
                <h3>Gestor de Clientes</h3>
                <p>Una aplicación para gestionar mis clientes.</p>
                <a href="{{ url_for('static', filename='libreta-clientes.exe') }}" class="second-color">Link Aquí</a>
            </div>
            <div class="card third">
                <h3>Gestor de Tareas</h3>
                <p>Una aplicación tipo TODO List para gestionar mis tareas</p>
                <a href="{{ url_for('static', filename='db.exe') }}" class="second-color">Link Aquí</a>
            </div>
        </div>
    </div>
</div>